* {
box-sizing: border-box;
}
body {
	background-color: #ccc;
	text-align: center;

}
.header {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	height: 100px;
	border: 2px solid black;
}
.logo {
	background-color: #fff;
	width: 15%;
	height: 80px;
	margin-top: -70px;
	margin-left: 1%;
	


}
.phone {
	background-color: #FFF;
	/*float: right;*/
	width: 39%;
	height: 80px;
	margin-left: 60%;
	margin-top: -70px;
	margin-right: 3%;
}
.logo , .phone {
	
	border: 2px solid black;
	position: absolute;

}
.content {
	background-color: #FFF;
	float: right;
	width: 79%;

	
}
.icon {
	width: 280px;
	height: 280px;
	border: 2px solid black;
	float: left;
	margin: 30px;
	align-content: center;
}
.menu1 {
	background-color: #FFF;
	float: left;
	width: 20%;
	height: 1091px;
	
}
.menu1, .content {
	margin-top: 20px;
	border: 2px solid black;
}
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
footer {
	margin-top: 20px;
	background-color: #FFF;
	height: 100px;
	border: 2px solid black;
}	
