@font-face {
	font-family: NexaBold;
	src: url("font/NexaBold.otf") format("opentype");
}
@font-face {
	font-family: NexaLight;
	src: url("font/NexaLight.otf") format("opentype");
}
@font-face {
	font-family: OpenSans-Light;
	src: url("font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
	font-family: FeltTipWoman;
	src: url("font/FeltTipWoman.ttf") format("truetype");
}	