@font-face {
	font-family: NexaBold;
	src: url("font/NexaBold.woff") format("woff");
	src: url("font/NexaBold.otf") format("opentype");
}
@font-face {
	font-family: NexaLight;
	src: url('font/NexaLight.woff') format('woff');
	src: url('font/NexaLight.otf') format('opentype');
}
@font-face {
	font-family: OpenSans-Light;
	src: url("font/OpenSans-Light.woff") format("woff");
	src: url("font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
	font-family: FeltTipWoman;
	src: url("font/FeltTipWoman.woff") format("truetype");
	src: url("font/FeltTipWoman.ttf") format("truetype");
}	