$font-bold:  NexaBold, sans-serif;

$font-light: NexaLight, sans-serif;

$font-open: OpenSans-Light, sans-serif;

$font-felttipwoman: FeltTipWoman, sans-serif;

$white: #f1f1f1;

$grey: #bebebe;

$black: #202020;

			